.containerWrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 1200px;
  margin: 25px auto 0;
  padding: 0 50px;
  .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 12px;
    .pageTitle {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.23;
      color: #333;
      text-transform: uppercase;
    }
  }
  .table {
    padding: 15px 20px;
    margin-bottom: 70px;
    max-width: 100%;
  }    
  .TransferAddress{
    display: flex;
    justify-content: center;
    .trans_icon{
      transform: rotate(180deg);
      margin: 0 8px;
    }      
  }
  .containerWrapper {
    padding: 15px 20px;
    margin-bottom: 15px;
    .containerTitle {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.22;
      text-align: left;
      padding: 5px 18px 10px 0;
      color: #222;
    }
  }
  .firstContainer {
    .containerTitle {
      border-bottom: 1px solid #e6e6e6;
      font-weight: 500;
    }
    .containerDetail {
      margin: 16px 0 20px;
      .infoRow {
        display: grid;
        grid-template-rows: 25px;
        grid-template-columns: 250px 1fr;
        margin-bottom: 10px;
        @media (max-width: 1050px) {
          grid-template-rows: 25px;
          grid-template-columns: 1fr;
          grid-row-gap: 10px;
          margin-bottom: 14px;
        }
        .infoLabel {
          font-size: 15px;
          text-align: left;
          font-weight: 500;
        }
        .infoValue {
          min-width: 260px;
          height: fit-content;
          font-weight: 400;
          color: #4b525d;
          overflow-wrap: break-word;
        }
      }
    }
  }
  .secondContainer {
    margin-bottom: 40px;
    .containerTable{
      margin: 0 0 20px;
    }
  }
}
.BlockTxBox {
  padding: 15px 20px;
  margin-bottom: 0;
  min-height: 372px;
  .titleWrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    .title {
      font-size: 22px;
      font-weight: 500;
      color: #222;
    }
  }
  .containerTable {
    max-width: 90%;
  }
}
