// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// input
.el-input-group {
  width: 35%;
}
.inputContent .el-select .el-input {
  width: 110px;
}
.inputContent.inputSel .el-input-group__prepend {
  background-color: #fff;
}
.el-input-w {
  width: 240px;
}


// card
.el-card__body {
  width: 100%;

}

// table
.has-gutter tr th{
  background: #ecf5ff;
}

// el-date-pick
.el-date-editor .el-range-separator {
  width: 6%;
}
